<?xml version='1.0' encoding='utf-8'?>
<widget id="com.testimeweb.testi" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Testi</name>
  <description>Built with WebApp5</description>
  <author email="webapp5@build.io">WebApp5 Builder</author>
  <content src="index.html"/>
  <preference name="loglevel" value="DEBUG"/>
  <preference name="android-targetSdkVersion" value="33"/>
  <preference name="android-minSdkVersion" value="26"/>
  <preference name="orientation" value="portrait"/>
  <preference name="Fullscreen" value="false"/>
  <access origin="*"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <platform name="android">
    <allow-intent href="market:*"/>
    <icon src="res/icon.png"/>
  </platform>
</widget>